@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Poppins:wght@100;600&family=Raleway&family=Secular+One&display=swap");

.home-container {
  background: #001F32;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text-container {
  color: #F1F1E6;
  
}

.home-text-container h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: #009CF9;
  font-weight: 700;
}

.home-text-container h3 {
  font-size: 50px;
}
.home-text-container h4 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}
.job-position {
  font-weight: 500 !important;
}
.homepage-arrow {
  text-decoration: none;
  color: #F1F1E6;
}
.homepage-arrow:hover {
  color: #009CF9;
}

@media (max-width: 540px) {
  .home-text-container h1 {
    font-size: 50px;
  }

  .home-text-container h3 {
    font-size: 40px;
  }
  .home-text-container h4 {
    font-size: 26px;
  }
}
@media (max-width: 320px) {
  .home-text-container h1 {
    font-size: 35px;
  }

  .home-text-container h3 {
    font-size: 25px;
  }
  .home-text-container h4 {
    font-size: 26px;
  }
}
